.header {
  height: fit-content;
  margin-bottom: 15px;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}